@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: white;
  color: black;
  font-family: monospace;
}

li{
  list-style: none;
}


/* src/components/Projects.css */

.projects-section {
  background-color: #f9f9f9;
}

.projects-section h2 {
  margin-bottom: 1rem;
}

.projects-section .grid {
  display: grid;
  gap: 1rem;
}

.projects-section .rounded-lg {
  transition: transform 0.2s;
}

.projects-section .rounded-lg:hover {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .group-hover\:opacity-100 {
    opacity: 1 !important; /* Ensure hover effect is always visible */
  }

  .group-hover\:scale-105 {
    transform: scale(1.05) !important; /* Apply scaling effect always on mobile */
  }
}

.hero {
  perspective: 1000px; 
}
